<div class="demo-header">
  <div class="demo-header-content">
    <div class="container">
      <h1>Welcome to Vitality!</h1>
      <hr class="colored">
      <p>All of the sample layouts are included with your download. Select an example layout below to preview!</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row content-row">
    <div class="col-md-4">
      <div class="preview-pane">
        <a href="agency.html">
          <img src="assets/screenshot-agency.png" class="img-responsive img-centered" alt="">
          <h3>Agency</h3>
          <hr class="colored">
          <p class="text-muted">Ideal For:</p>
          <ul class="list-unstyled text-muted">
            <li>
              <em>Agencies</em>
            </li>
            <li>
              <em>Businesses</em>
            </li>
            <li>
              <em>Consultants</em>
            </li>
          </ul>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="preview-pane">
        <a href="creative.html">
          <img src="assets/screenshot-creative.png" class="img-responsive img-centered" alt="">
          <h3>Creative <span class="label label-primary">New!</span></h3>
          <hr class="colored">
          <p class="text-muted">Ideal For:</p>
          <ul class="list-unstyled text-muted">
            <li>
              <em>Personal Portfolios</em>
            </li>
            <li>
              <em>Freelancers</em>
            </li>
            <li>
              <em>Photographers</em>
            </li>
          </ul>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="preview-pane">
        <a href="culinary.html">
          <img src="assets/screenshot-culinary.png" class="img-responsive img-centered" alt="">
          <h3>Culinary</h3>
          <hr class="colored">
          <p class="text-muted">Ideal For:</p>
          <ul class="list-unstyled text-muted">
            <li>
              <em>Restaurants</em>
            </li>
            <li>
              <em>Bakeries</em>
            </li>
            <li>
              <em>Caterers</em>
            </li>
          </ul>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="preview-pane">
        <a href="fashion.html">
          <img src="assets/screenshot-fashion.png" class="img-responsive img-centered" alt="">
          <h3>Fashion</h3>
          <hr class="colored">
          <p class="text-muted">Ideal For:</p>
          <ul class="list-unstyled text-muted">
            <li>
              <em>Boutiques</em>
            </li>
            <li>
              <em>Designers</em>
            </li>
            <li>
              <em>Retail Stores</em>
            </li>
          </ul>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="preview-pane">
        <a href="legal.html">
          <img src="assets/screenshot-legal.png" class="img-responsive img-centered" alt="">
          <h3>Legal</h3>
          <hr class="colored">
          <p class="text-muted">Ideal For:</p>
          <ul class="list-unstyled text-muted">
            <li>
              <em>Lawyers</em>
            </li>
            <li>
              <em>Law Firms</em>
            </li>
            <li>
              <em>Consultants</em>
            </li>
          </ul>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="preview-pane">
        <a href="video.html">
          <img src="assets/screenshot-video.png" class="img-responsive img-centered" alt="">
          <h3>Video</h3>
          <hr class="colored">
          <p class="text-muted">
            <em>An example of the agency theme with a video background for the header. A video background can be applied to any other theme!</em>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
