.masthead {
  background-color: #343131;
  height: 60px;

  h3 { margin: 0 0 0 3%;
      line-height: 60px;
      color: white;
    }
}

.category-container {
  background-color: #f0f0f0;
  padding-bottom: 40px;
}

.category-top {
  height: 250px;
  background: url("bg-header.jpg") no-repeat center center scroll;
  @include respond-to(smartphone) {
    height: 330px;
  }

  .category-top-container {
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
    @include respond-to(tablet) {
      padding-top: 40px;
    }

    h1 {
      color: white;
      margin: auto 0;
      display: inline-block;
      @include respond-to(tablet) {
        display: block;

        font-size: 40px;
      }
    }
    .add-submission {
      float: right;
      margin-top: 5px;
      @include respond-to(tablet) {
        margin-top: 15px;
      }
      @include respond-to(smartphone) {
        float: none;
      }
    }

    .category-desc {
      margin-top: 15px;
      max-width: 500px;
      text-shadow: 0 0 5px #000;
      color: white;
      @include respond-to(tablet) {
        width: 60%;
      }
    }
  }
}

.listings {
  width: 90%;
  margin: -30px auto 0 auto;
  padding: 0;
  list-style-type: none;

  li {
    width: 100%;
    background-color: #fff;
    height: auto;
    margin-bottom: 40px;
    padding: 20px;
    @include respond-to(smartphone) {
      height: auto;
    }


    .listing-image-container {
      display: inline-block;
      vertical-align: top;
      width: 25%;
      @include respond-to(smartphone) {
        display: none;
      }

      img  {
        height: 140px;
        @include respond-to(all_mobile) {
          height: auto;
          width: 100%;
        }
      }
    }

    .listing-review-container {
      display: inline-block;
      padding-left: 20px;
      width: 50%;
      @include respond-to(smartphone) {
        width: 100%;
      }

      h3 { margin-top: 0; }

      .item-title  {font-weight: bold;}
      .review-item  {margin-bottom: 15px;
        &.last  {margin-bottom: 0;}
      }
    }

    .visit-now {
      width: 23%;
      display: inline-block;
      vertical-align: top;
      @include respond-to(smartphone) {
        display: block;
        width: 100%;
      }
      .btn {
        margin-top: 45px;
        float: right;
        margin-right: 15px;
        @include respond-to(smartphone) {
          margin-top: 10px;
          float: none;
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
}
